@charset "UTF-8";

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

.aside {
	float: left;
	width: 160px;
	margin-top: 20px;
}

.aside ul {
	width: 160px;
}

.aside ul>li {
	margin: 5px 0px 0px 0px;
	padding: 15px 0px 15px 0px;
	font-size: 14px;
	text-align: center;
	background-color: #FAFAFA;
	border-bottom: 1px solid #f2f2f2;
}

#aside-top {
	padding: 30px 0px 30px 0px;
	font-weight: bold;
	color: #fff;
	background-color: #5F0080;
}

#myreview {
	background-color: #60008021;
	font-weight: bold;
}

/****************************************************************/
/* 마이페이지 리뷰************************************************/
/****************************************************************/

/* 리뷰 */
#review-cnt {
	margin: 40px 0px 0px 80px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	border-bottom: #333 1px solid;
}

.mypage-review {
	float: left;
	margin: 80px 0px 40px 80px;
	border-collapse: collapse;
}

.mypage-review td, .mypage-review th {
	padding: 10px 0px 10px 10px;
	text-align: left;
}

#store {
	font-size: 16px;
	color: #333;
}

#store, #date, #btn {
	padding: 0px 0px 0px 10px;
}

.cover {
	height: 300px;
	width: 700px;
	object-fit: cover;
}

.reply1, .reply2 {
	background-color: #e7e7e7;
}

.reply1 th {
	padding-left: 30px;
}

.reply2 td {
	padding-left: 25px;
}

/* 수정,삭제 버튼 */
#btn-modify, #btn-delete {
	padding: 5px 8px 5px 8px;
	margin: 0px 5px 0px 5px;
	border: 1px solid #5F0080;
	border-radius: 5px;
	float: right;
	background-color: #5F0080;
	color: #fff;
}