@charset "UTF-8";

/* 가게메뉴바 */
.store-menu ul>li {
    float: left; 
    width: 246px; 
    font-size: 16px;
    font-weight:700;
    border: 1px solid #e2e2e2;
    background-color:#fafafa;
    padding: 15px 0px 15px 0px;
    margin-bottom:80px;
}

.store-menu a{
	color:#666;
}

#sel-menu{
	background-color:#ffffff;
    border-bottom: none;
}

#sel-menu a{
    color: #5F0080;
}



/* 메뉴 */
h3 {
	font-size:20px;
	font-weight: bold;
	text-align:left;

}
#menu{
	float:left;
	width: 480px;
}

#accordion, .panel, .panel-default, .panel-group, .panel-collapse, .collapse, .in{border-style:none; border-radius:0px;}
.panel-heading{background-color:#fff !important; border-top:1px solid #333 !important; padding:14px 5px 15px 5px; }
.menu-group{float:left;font-size:18px; color:#333;font-weight:700; }
.menu-collapse {float:right;font-size:18px; color:#333; font-weight:700;}
.menu-box{height:118px; padding: 19px 0px 18px 0px; text-align:left; border-bottom:1px solid #e2e2e2;}
.menu-box.last{border-bottom:1px none #fff;}
.menu-letter, .menu-img{ float:left; font-weight:bold;}

.menu-name {font-size:16px; margin-top:15px;}
.menu-desc{font-size:14px; color:#999; padding-top:7px;}
.menu-price{font-size:16px; font-weight:bold; float:right; margin:30px 5px 0px 0px;}


/* 주문 */
#order{float:right; width:470px; border:1px solid #e2e2e2;}
#order table{margin:14px 23px 15px 19px; width:92%;}
#order td,th{padding-bottom: 9px;}
#order-menu-box{background-color:#fafafa; border:1px solid #f2f2f2; }

#order-detail th,#order-detail td{
	font-size:16px; font-weight:400;
}

#order-menu-table .order-menu {text-align: left; font-size:16px;}
#order-menu-table .order-price {text-align: right; font-size:18px; font-weight:520;}
#order-menu-table tfoot .order-menu{padding:10px 0px 0px 0px; border-top:1px solid #e2e2e2;}
#order-menu-table tfoot .order-price{padding:10px 0px 0px 0px; font-size: 22px; border-top:1px solid #e2e2e2;}
#order-delivery, #group-option{font-size:16px; font-weight:bold;margin:14px 23px 15px 19px; text-align:left;}

.order-deli{padding:5px 0px 4px 0px;}
#adress-change{width:100%; height:34px; border:1px solid #5f0080; color: #5f0080; border-radius:3px; font-size: 12px; background-color:#fff; margin-bottom:20px;}
input[type="text"]{width:100%; text-align:right; height:34px; }

button[type="submit"]{
	margin: 20px 0px 20px 0px; 
	width:45%; height:56px; 
	background-color:#5f0081; 
	border-color:#5f0080;
	border-radius:5px; 
	color:#fff; 
	font-size:16px; 
	font-weight:bold;}
	
.delete{width: 20px;}
.del-btn{border:#00000000 1px solid; background-color: #00000000;}



/* 주문 상세 모달 */

.modal-body{
	width:300px;
	font-size: 16px;}
.modal-body h5{
	font-weight:bold;
	font-size:16px;
	margin-top:7px;
}	
.modal-body p{
	font-weight:bold;
	font-size:14px;
	color: #999;
	margin:7px 0px 7px 0px;
}	

.modal-body table{
	width:100%
}

.modal-body td{
	text-align:left;
	font-weight: 400;
}


.modal-body .price{
	text-align:right;
	font-weight: 400;
	font-size:18px !important;
	margin-top: 7px;
}

.modal-body td{
	text-align:left !important;
	font-weight: 400 !important;
	font-size:16px !important;
	margin-top: 7px;
}

.modal-body th[colspan="2"]{
	font-weight:bold !important;
	font-size:16px;
	padding-top:10px;
}

.modal-body th{
	text-align: left;
	font-weight: 400 !important;
	font-size: 16px;
}


