@charset "UTF-8";


/* 가게메뉴바 */
.store-menu ul>li {
    float: left; 
    width: 246px; 
    font-size: 16px;
    font-weight:700;
    border: 1px solid #e2e2e2;
    background-color:#fafafa;
    padding: 15px 0px 15px 0px;
    margin-bottom:80px;
}

.store-menu a{
	color:#666;
}

#review{
	background-color:#ffffff;
    border-bottom: none;
}

#review a{
    color: #5F0080;
}


/* 리뷰 */
#review-cnt{
    float:left;
    width: 990px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    border-bottom:#A6A6A6 2px solid;
}

.store-review {
    float:left; 
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 40px;
    border-collapse: collapse;
    width: 900px;
}
.store-review td, .store-review th {
    padding: 10px 0px 10px 10px; 
    text-align: left;
}

#id {
    font-size: 16px;
    color: #5F0080;
}

#recommend {
    padding: 0px 0px 0px 10px;
}

#btn-recommend {
    padding: 5px 8px 5px 8px;
	margin: 0px 5px 0px 5px;
	border: 1px solid #5F0080;
	border-radius: 5px;
	float: right;
    background-color: #5F0080;
    color:#fff;
}


.cover{
    height: 300px;
    width: 900px;
    object-fit: cover;
}

.reply1, .reply2 {
    background-color: #e7e7e7;
}

.reply1 th {padding-left: 30px;}
.reply2 td {padding-left: 25px;}

#bottom{
    border-bottom: #A6A6A6 1px solid;
    padding-bottom: 40px;
}


/* 수정,삭제 버튼 */
#btn-modify, #btn-delete {
	padding: 5px 8px 5px 8px;
	margin: 0px 5px 0px 5px;
	border: 1px solid #808080;
	border-radius: 5px;
	float: right;
}


